.as {
    width: 19px;
    height: 2px;
    background-color: black;
    border-radius: 2px;
}
.as {
    width: 19px;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    margin-top: 4px;
}
.as {
    width: 19px;
    height: 3px;
    background-color: black;
    border-radius: 2px;
    margin-top: 4px;
}
.q{
    display: flex;
    justify-content: center;
    margin-top: 20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #000000;

}
.qw{
    margin-left: 900px;
    margin-top: 50px;
}
.ww{
        display: flex;
        justify-content: center;
}
.re{
    display: flex;
        justify-content: center;
}
.t{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.tt{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.wd{
    display: flex;
    justify-content: center;
}
.lop{
    color: red;
    margin-right: 80px;
}